/* Background Video */
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.navbar-inverse {
  opacity: 75%;
}

@media (min-width: 767px) {
  #hamburger{ display: none; }   /* hide it on larger screens */
}




.btn {
  position: relative;
  float: right;
  opacity: 90%;
}
